
.page-container {
  margin-top: 2rem;
}


.table-container {
  margin-top: 2rem;
  width: 80rem;
  margin-left: 2rem;
}

header.container{
  margin-left: 2rem;
}

#cancel-button {
  margin-left: 1rem;
}

#form-container {
  margin-right: 1rem;
}


#average-container {
  margin-right: 1.5rem;
}
